In [1]:
import yfinance as yf

In [2]:
df = yf.download("GC=F", start="2005-01-01", end="2025-10-01", auto_adjust=True)
df.columns = [col[0] for col in df.columns]

[*********************100%***********************]  1 of 1 completed

In [3]:
df

                  Close         High          Low         Open  Volume
Date
2005-01-03   428.700012   431.000000   431.000000   431.000000       4
2005-01-04   428.500000   428.500000   428.500000   428.500000     108
2005-01-05   426.600006   425.700012   425.700012   425.700012       2
2005-01-06   421.000000   421.000000   421.000000   421.000000       1
2005-01-07   418.899994   423.700012   418.700012   423.700012       1
...                 ...          ...          ...          ...     ...
2025-09-24  3732.100098  3772.500000  3732.100098  3769.800049     588
2025-09-25  3736.899902  3756.000000  3724.699951  3742.800049    1899
2025-09-26  3775.300049  3775.300049  3775.300049  3775.300049   19308
2025-09-29  3820.899902  3827.600098  3754.800049  3754.800049    8860
2025-09-30  3840.800049  3865.500000  3793.399902  3827.500000    1611

[5214 rows x 5 columns]

In [4]:
df.to_csv("../data/gold_prices.csv")